<html>
    <body>
        <form method="post" action="SetNum">
            <label>
                Enter 1st Number
                <input type="number" name="x" placeholder="Enter any Number"/>
            </label>
        <label>
            Enter 2nd Number
            <input type="number" name="y" placeholder="Enter any Number" />
        </label>
        <button type="submit" value="send">
            Calculate
        </button>

        </form>
    </body>
</html>